<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" href="favicon.ico">
    <title>RMH | Log In</title>
  </head>
  <body>
    <h1 id="banner">Welcome to Rogue Mushroom Hunter</h1>

    <div id="box">
        <p>Register or log in to play!</p>
      <img id="deco" src="./mushroom.png" alt="mushroom logo" />
      <br />
      <br />
      <a href="/register"><button>Register</button></a>
      <a href="/login"><button>Log In</button></a>
      <br />
    </div>
  </body>
</html>
